.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

.input{
  width: 500px;
  height: 40px;
  font-size: 20px;
}

.list{
  height: auto;
  min-height: 100px;
  max-height: 400px;
  width: 490px;
  background: whitesmoke;
  overflow-y: scroll;
  padding: 5px;
}

.data{
  color: black;
  border-bottom: 1px solid #504f4f;
  font-size: 15px;
}
.no_data{
  color: black;
  font-size: 20px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 30px;
}

.id{
  font-weight: 600;
  padding: 3px 0;
}
.name{
  font-style: italic;
  padding: 3px 0;
}

.item{
  border-top: 1px solid #d4d2d2;
  border-bottom: 1px solid #d4d2d2;
  padding: 5px 0;
}

.address{
  padding: 5px 0;
}

.hovered{
  background: rgb(246, 246, 171);
}

.highlight{
  color: rgb(25, 25, 229);
  font-weight: 500;
}